.brd {
    border:1px soid red !important;
}

body {
    padding:30px;
    font-family: 'Roboto', sans-serif; 
}


.gradient-dark-blue {
    background: rgb(13,32,49);
    background: radial-gradient(circle, rgba(13,32,49,1) 0%, rgba(64,98,127,1) 100%);    
}

